# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
venv/

# Environment variables
.env

# IDE
.vscode/
.idea/

# Python caches
.pytest_cache/
.ruff_cache/
.mypy_cache/

# Build
dist/
build/
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# Operating System
.DS_Store
Thumbs.db

# Logs
*.log